@font-face {
	font-family: 'Open-Sans';
	src: url("../fonts/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/OpenSans-Light.ttf");
	font-size: 1em;
}

header{
	width: 100%;
	height: 150px;
	background-color: rgba(94, 41, 154, .8);
	z-index: 2;
	position: relative;
}
header .container{
	position: relative;
}
header .header-black{
	background-color: #000;
	height: 40px;
}
header .header-black li{
	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 4px 6px;
}
header .header-black li.club-01{
background-position: 0px 0px;
}
header .header-black li.club-02{
background-position: -48px 0px;
}
header .header-black li.club-03{
background-position: -95px 0px;
}
header .header-black li.club-04{
background-position: -139px 0px;
}
header .header-black li.club-05{
background-position: -189px 0px;
}
header .header-black li.club-06{
background-position: -238px 0px;
}
header .header-black li.club-07{
background-position: -288px 0px;
}
header .header-black li.club-08{
background-position: -333px 0px;
}
header .header-black li.club-09{
background-position: -377px 0px;
}
header .header-black li.club-10{
background-position: -429px 0px;
}
header .header-black li.club-11{
background-position: -479px 0px;
}
header .header-black li.club-12{
background-position: -528px 0px;
}
header .header-black li.club-13{
background-position: -578px 0px;
}
header .header-black li.club-14{
background-position: -628px 0px;
}
header .header-black li.club-15{
background-position: -674px 0px;
}
header .header-black li.club-16{
background-position: -717px 0px;
}
header .header-black li.club-17{
background-position: -760px 0px;
}
header .header-black li.club-18{
background-position: -804px 0px;
}
header .header-black li.club-19{
background-position: -856px 0px;
}
header .header-black li.club-20{
background-position: -903px 0px;
}
header .header-black li.club-21{
background-position: -949px 0px;
}
header .header-black li.club-22{
background-position: -994px 0px;
}
header .header-black li a{
	width: 30px;
	height: 32px;
	display: block;
}
header #logotipo{
	position: absolute;
	top: 20px;
	z-index: 3;
}
#banner h1.efeito{
	color: red;
	font-size: 9em;
}
#menu{
	margin: 16px 0px;
}
#menu li{
	display: inline-block;
	font-family: "Open-Sans";
}
#menu li.search{
	width: 182px;
	transition-timing-function: cubic-bezier(1,-.91,.91,1);
	transition: 1s;
}
#menu li.search.ativo{
	width: 300px;
}
#menu li.search input{
	background-color: #5C2D90;
	color: #FFF;
	border: none;
	height: 30px;
	line-height: 30px;
}
#menu li.search.ativo input{
	width: 300px;
}
#menu li.search ::-webkit-input-placeholder{
	color: #FFF;
}
#menu li.search button{
	background: none;
	border: none;
	position: absolute;
	right: 3px;
	top: 1px;
	z-index: 3;
}
#menu li.search button{
	font-size: 12px;
	color: rgba(255, 255, 255, .5);
}
#menu li a{
	color: #FFF;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
}
#menu li.search .input-group{
	top: 8px;
}
#banner {
	width: 100%;
	height: 728px;
	position: relative;
	background: url("../img/banner.jpg") no-repeat;
	top: -132px;
	background-position: 0px -100px;
}
#banner h1{
	transition: 1s;
	color: #FFF;
	top: 300px;
	position: relative;
	font-size: 92px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
	font-family: "OpenSans-Light";
	margin-left: 50px;
}
#banner h1 small{
	font-size: 32px;
	display: block;
	color: #FFF;
	font-family: "Open-Sans";
	font-weight: bold;
}
#news{
	position: relative;
	top: -110px;
}
#news h2{
	color: #5E2799;
	font-family: "OpenSans-Light";
	font-size: 48px;
	text-align: center;
}
#news hr{
	border:#FDE192 solid 5px;
	width: 200px;
	margin: 0 auto;
}
#news .thumbnail{
	margin-top: 20px;

}
#news .thumbnail h3{
	color: #5E299A;
	font-size: 17px;
	font-family: "Open-Sans";
	font-weight: bold;
	margin-bottom: 0;
}
#news .thumbnail time{
	color: #A7A7A7;
	font-size: 17px;
	font-family: "Open-Sans";
}
#news .col-md-3 {
	width: 100%
}
#estatisticas{
	background-color: #5E299A;
	width: 100%;
	height: 200px;
	text-align: center;
}
#estatisticas p{
	color: #FDE092;
	text-transform: uppercase;
	font-family: 'OpenSans-Light';
	font-size: 64px;
	margin-top: 37px;
}
#estatisticas p small{
	color: #fff;
	font-size: 24px;
	display: block;
}
#call-to-action{
	text-align: center;
	margin-top: 105px;
}
#call-to-action h2{
	color: #5E2799;
	font-family: "OpenSans-Light";
	font-size: 48px;
	text-align: center;
}
#call-to-action hr{
	border:#FDE192 solid 5px;
	width: 200px;
	margin: 0 auto;
}
#call-to-action p{
	margin-top: 60px;
	margin-bottom: 40px;
	color: #656565;
}
#call-to-action .btn{
	line-height: 34px;
	min-width: 164px;
	height: 44px;
	border-radius: 0;
}
#call-to-action .btn-roxo{
	color: #FFF;
	background-color: #5E299A;
	border-color: #5E299A;
}
#call-to-action .btn-amarelo{
	color: #000;
	background-color: #FDE192;
	border-color: #FDE192;
}
#call-to-action .row-max-400{
	margin: 0 auto;
	max-width: 400px;
}
footer{
	margin-top: 105px;
}
footer .row{
	width: 100%;
	line-height: 34px;
	margin-bottom: 0;
}
footer .row-cinza-claro{
	height: 200px;
	background-color: #171F26;
}
footer .row-cinza-escuro{
	height: 60px;
	background-color: #11171D;
	border-top: #242D37 1px solid;
}
footer .pull-left{
	color: #666;
	font-family: 'Open-Sans';
	font-size: 16px;
}
footer .text-roxo{
	color: #623291;
	font-family: 'Open-Sans';
	font-weight: bold;
	font-size: 14px;
}
footer .logotipo{
	margin-top: 28px;
}
footer .col-popular-post,
footer .col-links,
footer .col-get-touch{
	margin-top: 40px;

}
footer .row-cols h4{
	color: #FFF;
	font-family: 'Open-Sans';
	font-size: 16px;
	padding-bottom: 17px;
	border-bottom: #242D37 1px solid;
}
footer .row-cols h5{
	color: #666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
}
footer .row-cols time{
	color: #FDE092;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links a,
footer .col-get-touch a {
	color: #FFF;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links .fa{
	margin: 0 6px;
}
footer .col-get-touch address{
	color: #666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
}
footer .col-get-touch address span{
	display: inline-block;
}
footer .col-get-touch address i{
	position: relative;
	top: -14px;
}
footer .col-get-touch i{
	color: #9B9B9B;
	font-size: 20px;
	margin: 0 6px;
}
footer .col-get-touch a{
	color: #666;
}
footer .col-get-touch p{
	line-height: 20px;
}
footer .list-socials{
	margin-top: 4px;
}
footer .list-socials li{
	display: inline-block;
	margin-right: 8px;
}
footer .list-socials a{
	display: block;
	border: #9B9B9B 1px solid;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
}
footer .list-socials i{
	font-size: 16px;
	margin: 7px auto;
}
video {
	width: 60%
}